.card-pay{
    padding: 10px;
    // border-bottom: 1px solid #303035;
    background-color: #d0d0e150;
    border-radius: 10px;
    display: flex;
}

.cart-img{
    width: 150px;
    height: 150px;
    overflow: hidden;

    img{
        width: 150px;
        height: 150px;
    }
}

.no-courses{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;

    img{
        width: 300px;
        height: 300px;
    }
}

.info-container{
    
    border-bottom: 1px solid #30303550;
}

.qr-image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;

    img{
        width: 300px;
        height: 300px;
    }   
}


.payment-process-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;

    img{
        width: 200px;
        height: 200px;
    }   
}

.file-repeated-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;

    img{
        width: 200px;
        height: 200px;
    }   
}