.user-header{
    border-bottom: 1px solid #30303550;
    padding-bottom: 10px;
}

// TAN INFO 

.new-img {
    

    img{
        width: 200px;
        height: 200px;
    }
}


// TAB SUBSCRIPTIONS

.no-courses-img {
    width: 300px;
    height: 300px;

    img {
        width: 300px;
        height: 300px;
    }
}

.course-card-long {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #30303550;
}

.img-card-long {
    width: 200px;
    height: 150px;
    
    img{
        width: 200px;
        height: 150px;
    }
}


// TAB MIS TARJETAS
.img-credit-card {
    width: 200px;
    height: 150px;
    
    img{
        width: 200px;
        height: 150px;
    }
}


.card-card-credit {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px ;
    border-radius: 4px;
    width: 60%;
    background-color: #8888a314;
}
