.tab-section{


    .tab-description{
        width: 50%;
    }
}

.tab-no-content-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    img {
        width: 200px;
        height: 200px;
    }
}

